<?xml version="1.0" encoding="UTF-8"?>

<configuration timeZone="Asia/Seoul">

    <!-- 로컬 환경 콘솔 출력 설정 -->
    <springProfile name="default,local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!--  개발 환경 로깅 설정  -->
    <springProfile name="dev">
        <springProperty name="name" source="cloudwatch.name" />
        <springProperty name="accesskey" source="cloudwatch.accesskey" />
        <springProperty name="secretkey" source="cloudwatch.secretkey" />

        <appender name="aws_cloudwatch_log" class="ca.pjer.logback.AwsLogsAppender">
            <layout>
                <pattern>[%thread] [%date{yyyy-MM-dd HH:mm:ss,Asia/Seoul}] [%level] [%file:%line] - %msg%n</pattern>
            </layout>
            <logGroupName>${name}</logGroupName>
            <logStreamUuidPrefix>jumo-server-dev/</logStreamUuidPrefix>
            <logRegion>ap-northeast-2</logRegion>
            <maxBatchLogEvents>50</maxBatchLogEvents>
            <maxFlushTimeMillis>60000</maxFlushTimeMillis>
            <maxBlockTimeMillis>5000</maxBlockTimeMillis>
            <retentionTimeDays>0</retentionTimeDays>
            <accessKeyId>${accesskey}</accessKeyId>
            <secretAccessKey>${secretkey}</secretAccessKey>
        </appender>

        <root level="INFO">
            <appender-ref ref="aws_cloudwatch_log"/>
        </root>
    </springProfile>
</configuration>